<!DOCTYPE html>
<html>
<head>
  <title>Unit test file | <%= title %> | <%= template_name %> template | <%= timestamp %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <script src="assets/prototype.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib_assets/unittest.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="lib_assets/unittest.css" type="text/css" />
  <%#= lib_files %>

  <script src="assets/wysihat.js" type="text/javascript" charset="utf-8"></script>
  <%= css_fixtures %>
  <%= js_fixtures %>
  <%= test_file %>
</head>
<body>

<!-- This file is programmatically generated. Do not modify it. -->

<div id="testlog"></div>

<%= html_fixtures %>
</body>
</html>
